/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@charset "utp-8";
@import "bourbon";
$FontAwesomePath: "../fonts/font-awesome/";
@import "font-awesome";
@include font-face(woodygoodies2nf, '../fonts/woodygoodies2nf/woodygoodies2nf-webfont');

$red: #D8392F;
$element-background: rgba(white, 0.85);
$element-background-accepted: rgba(green, 0.5);

* {
	@include box-sizing(border-box);
}
html {
	background-image: url(../images/aarhus-denmark-skyline.jpg);
	background-attachment: fixed;
	//background-position: top 300px;
	background-size: cover;
}
body {
	min-width: 1000px;
	max-width: 1600px;
	font-size: 16px;
	margin: auto;
}
body > header {
	background: $element-background;
}
nav {
	
	div {
		@include clearfix;
		.left-nav {
			width: calc(50% - 155px);
			width: -webkit-calc(50% - 155px);
			height: 100%;
			float: left;
			li {
			
				a {
				
				}
			}		
		}
		.center {
			width: 310px;
			float: left;
			
			
		}
		.right-nav {
			width: calc(50% - 155px);
			width: -webkit-calc(50% - 155px);
			height: 100%;
			float: left;
			
			li {
				
				a {
					
				}
			}
		}
		.bottom-nav {
			clear: both;
		}
		ul {
			height: 100%;
		}
		li {
			display: block;
			height: 112px;
			a {
				
				line-height: 112px;
				//padding: 6% 0;
				display: block;
				text-align: center;
				@include transition(box-shadow ease-in-out 0.5s);
				text-decoration: none;
				color: $red;
				font-size: 2.0em;
				font-weight: 100;
				border-radius: 10px;
				
			}
			a:hover {
				box-shadow: inset 0px 0px 15px 0px $red;
				cursor: default;
				
			}
			a:active {
				box-shadow: inset 0px 0px 15px $red;
			}
			a:focus {
				box-shadow: inset 0px 0px 15px $red;
			}
		}
	}
}
#galleria {
	
	h1 {
		margin-top: 100px;
		line-height: 125%;
		background: $element-background;
		text-align: center;
		text-shadow: 0px 1px 1px black;
		color: $red;
		font-size: 3.0em;
		font-weight: 200;
		i {
			font-family: woodygoodies2nf;
			margin-top: 3px;
			font-size: 0.6em;
		}
	}
}
.overview-1, .contact-us-1, .location-1 {
	
	width: 100%;
	background: $element-background;
	@include clearfix;
	padding: 25px 0;

	article {
		h2 {
			padding: 15px;
			line-height: 1.5;
			color: $red;
			font-weight: 600;
			i {
				border-color: $red;
			}
		}
		@include transition(background-color ease-in 1s);
		border: 1px solid $red;
		border-radius: 7px;
		width: calc(33.33% - 35px);
		width: -webkit-calc(33.33% - 35px);
		margin-left: 25px;
		float: left;
		font-size: 1.5em;
		

		p {
			padding: 0 15px 15px;
			font-size: 0.75em;
			text-indent: 1.5em;
			font-weight: 200;
			line-height: 1.2;
			
		}
		img {
			width: 100%;
			vertical-align: text-bottom;
		}
		
	}
	article:hover,.overview-1 article:focus,.overview-1 article:active {
		background-color: white;
	}
	article:first-child {
		//margin-left: 0;
	}
}
.location-1 {
	color: $red;
	padding: 25px;
	
	.map {
		border: 2px solid $red ;
		padding: 10px;
		position: relative;
	    padding-bottom: 56.25%;
	    padding-top: 30px;
	    height: 0;
	    overflow: hidden;
	    iframe {
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
	    }
	    object {
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
	    }
	    embed {
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
	    }
	}
	
}
footer {
	margin-top: 100px;
	background: $element-background;
	height: 100px;
	font-size: 1.1em;
	padding: 0 25px;
	font-weight: 200;
	nav {
		float: left;
		height: 100px;
		
		li {
			display: inline-block;
			margin: 0 5px;
			
			a {
				text-decoration: none;
				color: $red;
				line-height: 100px;
				display: block;
				
			}
			a:hover {
				outline: 1px darken($red, 10%) solid;
				
			}
		}
	}
	.copyright {
		float: right;
		line-height: 100px;
		
	}
	
}
aside {
	margin: 25px;
	width: 50%;
	border: 2px solid $red;
	border-radius: 20px;
	float: right;
	padding: 25px;
	font-size: 24px;
	color: darker($red, 10%);
	h3 {
		font-size: 1.5em;
		color: darken($red, 10%);
	}
	ul {
		padding: 10px;
	}
	li {
		padding: 15px;
		list-style-type: square;
		color: darken($red, 10%);
	}
}
.contact-us {
	float: left;
	padding: 0 25px;
	.label {
		color: darken($red, 10%);
		margin-top: 15px;
		margin-bottom: 10px;
		font-size: 1.2em;
	}
	label {
		margin-top: 15px;
		display: inline-block;
	}
	input {
		display: block;
		padding: 5px;
		font-size: 1.3em;
		@include placeholder {
    		color: $red;
    		font-size: 0.7em;
		}
	}
	option {
		display: block;
		padding: 5px;
		font-size: 1.0em;
		width: 285px;
	}
	textarea {
		display: block;
		width: 285px;
		border: solid 1px $red;
		height: 40px;
		font-size: 1.3em;
		
		@include placeholder {
			color: $red;
			font-size: 0.7em;
		}
		
	}
	textarea:hover {
			box-shadow: 0px 0px 5px $red;
		}
	textarea:focus {
			box-shadow: 0px 0px 5px $red;
			outline: none;
		}
		#{$all-text-inputs} {
	  border: 1px solid $red;
	  background: white;
	  width: 285px;
	  @include transition (all 0.25s ease-in-out);
	}
	
	#{$all-text-inputs-hover} { 
	  	box-shadow: 0px 0px 5px $red;
	  	@include transform(scale(1.1));
	}
	
	#{$all-text-inputs-focus} { 
	  background: white;
	  @include transform(scale(1.1));
	}
	select {
		width: 285px;
		display: block;
		
		font-size: 1.0em;
	}
	label[for="male"], label[for="female"], label[for="both"],  label[for="sights"], label[for="architecture"], label[for="nature"] {
		margin: 0;
		font-size: 1.0em;
		color: $red;
	}
	input[type="checkbox"], input[type="radio"] {
		display: inline;
		color: $red;
	}
		.button {
	width: auto;
	background-color: white;
	box-shadow: 0px 1px 0px rgba(255,255,255,0.5) inset;
	color: $red;
	padding: 10px 20px 11px;
	border-radius: 3px;
	border: solid 2px $red;
	display: inline-block;
	font-weight: 700;
	line-height: 1;
	margin: 0;
	margin-top: 15px;
	font-family: inherit;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	
}
.button.large {
	
}

.button:hover, .button:active {
	background: $red;
	color: white;
}
	
	.disappear-appear {
		padding: 5px;
		display: none;
		color: $red;
		font-style: italic;
		text-shadow: 0px 0px 5px white;
	}
	
}
.accepted {
	background: $element-background-accepted;
	min-height: 500px;
	padding-top: 100px;
	h1 {
		
		line-height: 125%;
		background: $element-background;
		text-align: center;
		text-shadow: 0px 1px 1px black;
		color: $red;
		font-size: 3.0em;
		i {
			font-family: woodygoodies2nf;
			margin-top: 3px;
			font-size: 0.6em;
		}
		
		}
		p {
			
		line-height: 125%;
		background: $element-background;
		text-align: center;
		text-shadow: 0px 1px 1px black;
		color: $red;
		font-size: 2em;
		}
}
